name: Development Branches

on:
  push:
    branches-ignore: [ 'main'] 
  pull_request:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4      
      - name: Download the latest Data Dragon
        id: data-dragon
        uses: ./
        
      - name: Test result
        uses: actions/github-script@v6
        with:
          script: |
            const fs = require('fs');
            fileExists('dragontail.tgz', () => fileExists('dragontail.zip', () => core.setFailed('No Data Dragon downloaded!')));
            "${{ steps.data-dragon.outputs.version }}".length === 0 && core.setFailed('No Data Dragon version!');
            "${{ steps.data-dragon.outputs.path }}".length === 0 && core.setFailed('No Data Dragon path!');

            function fileExists(path, error) {
              fs.access(path, fs.F_OK, (err) => {
                if (err) {
                  error(err);
                  return
                }
              });
            }
