name: 'Move @v1'
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  tag:
    runs-on: ubuntu-latest
    environment: 
      name: github-marketplace
      url: 'https://github.com/marketplace/actions/download-league-of-legends-data-dragon'
    steps:
      - uses: actions/checkout@v4
      - name: Run a multi-line script
        run: |
          git tag --force v1
          git push --force --tags
